body {
    margin: 0;
    background: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

/* Top bar */
.topbar {
    background: #111;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #222;
}

.topbar h2 {
    margin: 0;
    font-size: 22px;
}

/* Container geral */
.reels-container {
    width: 100%;
    max-width: 450px;
    margin: auto;
}

/* Cada reel */
.reel {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid #222;
}

/* Vídeo */
.video-box iframe {
    width: 100%;
    height: 500px;
    background: #000;
    border: none;
}

/* Botões laterais */
.side-actions {
    position: absolute;
    right: 10px;
    bottom: 140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.action {
    color: white;
    font-size: 18px;
}

.icon {
    font-size: 30px;
    display: block;
}

/* Info do autor */
.info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.info img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.info h3 {
    margin: 0;
    font-size: 16px;
}

.info p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #ccc;
}


#video-da-semana {
    background: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#video-da-semana h2 {
    margin-top: 0;
}

.video-semana-card iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.info-semana {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    font-size: 16px;
}
